* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
}

.header {
    padding: 20px;
    background-color: white;
    margin-bottom: 40px;
}

.logo {
    vertical-align: middle;
}

.title {
    display: inline-block;
    vertical-align: middle;
}

.main {
    max-width: 60%;
    margin: auto;;
}

button {
    color: white;
    border: none;
    padding: 5px;
    border-radius: 30px;
}

.section-button {
    padding: 25px 0px 20px 40px; 
    background-color: white;
    border-radius: 15px 15px 0px 0px ; 
    margin-bottom: 10px;
}

.add-button-s {
    padding: 10px 20px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: white;
    border: 2px solid grey;
    color: grey;
}

.add-button-f {
    padding: 10px 20px;   
    vertical-align: middle;
    border-radius: 4px;
}

h2 {
    padding-left: 10px;
}

ol {
    list-style-type: none;
}

li {
    padding: 8px;
}

.ceck-cross {
    background-color: white;
    padding: 30px 40px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
}

.check {
    border-radius: 50%;
    color: green;
    border: 2px solid green;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
}

.cross {
    color: red;
    border: 2px solid red;
}

.editorial {
    background-color: rgb(40, 138, 204);
}

.qgoal {
    background-color: rgb(121, 60, 121);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: plum;
}

.Sales {
    background-color: greenyellow;
}

.recluiting {
    background-color: rgb(108, 133, 72);
}

